@font-face {
  font-family: "iconfont"; /* Project id 4013421 */
  src: url('iconfont.woff2?t=1685799648989') format('woff2'),
       url('iconfont.woff?t=1685799648989') format('woff'),
       url('iconfont.ttf?t=1685799648989') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e601";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-duanxin_o:before {
  content: "\ebaa";
}

.icon-jiajianzujianjiahao:before {
  content: "\e64d";
}

.icon-jiantou16:before {
  content: "\e6de";
}

.icon-jiantou10:before {
  content: "\e6e2";
}

.icon-biaozhun:before {
  content: "\e607";
}

.icon-yuyueguanli:before {
  content: "\e610";
}

.icon-xunhuan:before {
  content: "\e6a9";
}

.icon-zanting:before {
  content: "\e600";
}

.icon-start:before {
  content: "\e65f";
}

.icon-wj-fa:before {
  content: "\e728";
}

.icon-huanyuan:before {
  content: "\e70f";
}

.icon-suoxiao:before {
  content: "\ec13";
}

.icon-fangda:before {
  content: "\ec14";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-save:before {
  content: "\e618";
}

.icon-cha:before {
  content: "\e615";
}

.icon-wendu:before {
  content: "\e689";
}

.icon-xinxiinfo21:before {
  content: "\e616";
}

.icon-shidu:before {
  content: "\e691";
}

